<a href="https://colab.research.google.com/github/swflora/B.D.A/blob/main/240316_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%ED%86%B5%EA%B3%84_pandas%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 분석에 필요한 기초 문법(2)
- query()
- sort_values()
- 행,열 추출 [],[[]],loc,iloc
- crosslab
- 파생변수, assign()
- groupby, agg()
- merge(), concat()
- str()
- 시계열()
- boolean 인덱싱 접근

# Query()
- 데이터를 추출하기 위한 조건 문법
- 기존에 행과 열만을 가지고 데이터를 추출했자면 행과 열에 조건 등을 붙여서 진행
- query(요구조건)
- Q1 : S선박에 Class는 First, 생존했고, 여성이고, 나이는 20대 미만인 사람의 fare 요금의 평균은?

In [ ]:
import seaborn as sns
tt = sns.load_dataset('titanic')

In [ ]:
# 1번 요구 조건
tt.query("""embarked == 'S'""")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,0,2,male,28.0,0,0,10.5000,S,Second,man,True,NaN,Southampton,no,True
884,0,3,male,25.0,0,0,7.0500,S,Third,man,True,NaN,Southampton,no,True
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
# 2번 요구 조건
tt.query("""pclass == 1 """)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
# 3번 요구조건
tt.query("""sex == 'female'""")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False
882,0,3,female,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
# 4번 요구조건
tt.query(""" age < 20""")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
14,0,3,female,14.0,0,0,7.8542,S,Third,child,False,NaN,Southampton,no,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,1,3,female,18.0,0,1,9.3500,S,Third,woman,False,NaN,Southampton,yes,False
869,1,3,male,4.0,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True
877,0,3,male,19.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True

# Q1 : S선박에 Class는 First, 생존했고, 여성이고, 나이는 20대 미만인 사람의 fare 요금의 평균은?

- 논리 연산자 and로 묶으면 된다.

In [ ]:
# 최종 요구 조건
tt.query("""embarked == 'S' and pclass == 1 and sex == 'female' and age<20 and alive == 'yes'""")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
136,1,1,female,19.0,0,2,26.2833,S,First,woman,False,D,Southampton,yes,False
435,1,1,female,14.0,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
504,1,1,female,16.0,0,0,86.5000,S,First,woman,False,B,Southampton,yes,True
585,1,1,female,18.0,0,2,79.6500,S,First,woman,False,E,Southampton,yes,False
689,1,1,female,15.0,0,1,211.3375,S,First,child,False,B,Southampton,yes,False
781,1,1,female,17.0,1,0,57.0000,S,First,woman,False,B,Southampton,yes,False
853,1,1,female,16.0,0,1,39.4000,S,First,woman,False,D,Southampton,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True

In [ ]:
tt.query("""embarked == 'S' and pclass == 1 and sex == 'female' and age<20 and alive == 'yes'""")['fare'].mean()

81.27135

## sort 값을 정렬하기!
- 내림차순, 오름차순

- sort_values('정렬할 컬럼')
- sort_valeus('정렬할 컬럼',ascending =True, False)

In [ ]:
tt.sort_values('age') #디폴트 오름차순 , 데이터프레임도 적용

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
tt.age.sort_values() #시리즈도 동일하게 적용된다.

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [ ]:
tt.sort_values('age', ascending=False) #내림차순으로 변경 , 데이터프레임도 적용

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
630,1,1,male,80.0,0,0,30.0000,S,First,man,True,A,Southampton,yes,True
851,0,3,male,74.0,0,0,7.7750,S,Third,man,True,NaN,Southampton,no,True
493,0,1,male,71.0,0,0,49.5042,C,First,man,True,NaN,Cherbourg,no,True
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
116,0,3,male,70.5,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False

In [ ]:
tt.age.sort_values(ascending=False) #시리즈도 동일하게 적용된다.

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

# 2개 이상 컬럼이 기준인 경우는?
- 컬럼을 적는 법과 내림,오름차순 기준 적는 법


- sort_values(['정렬할 컬럼1', '컬럼2'])
- sort_valeus(['정렬할 컬럼1', '컬럼2'],ascending =[True, False])

In [ ]:
tt.sort_values(['age','fare']) #age가 적용 후 동일한 값이면 두 번째 fare 비교한다.

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
831,1,2,male,0.83,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,1,1,female,NaN,0,0,110.8833,C,First,woman,False,NaN,Cherbourg,yes,True
334,1,1,female,NaN,1,0,133.6500,S,First,woman,False,NaN,Southampton,yes,False
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False
527,0,1,male,NaN,0,0,221.7792,S,First,man,True,C,Southampton,no,True
557,0,1,male,NaN,0,0,227.5250,C,First,man,True,NaN,Cherbourg,no,True

In [ ]:
tt.sort_values(['age','fare'], ascending=[True,False]) #뒤의 차순도 변경 가능하다.

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
803,1,3,male,0.42,0,1,8.5167,C,Third,child,False,NaN,Cherbourg,yes,False
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False
469,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
644,1,3,female,0.75,2,1,19.2583,C,Third,child,False,NaN,Cherbourg,yes,False
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
633,0,1,male,NaN,0,0,0.0000,S,First,man,True,NaN,Southampton,no,True
674,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
732,0,2,male,NaN,0,0,0.0000,S,Second,man,True,NaN,Southampton,no,True
815,0,1,male,NaN,0,0,0.0000,S,First,man,True,B,Southampton,no,True

# 추가 파생변수 만들기
- 파생변수란 무엇인가?
- 기존 변수를 이용해서 새로운 변수를 만드는 것
- 기존의 변수를 두 개 이상을 사용하여 합치거나, 평균이거나 기타 내가 원하는 함수를 적용해서 변수로 만들거나
- 기존의 값에 특정 수치들을 사칙연산 및 내가 원하는 식으로 적용해서 변수로 만들 수 있다.

- 변수를 만들어야 한다는 것
- 변수를 하나 먼저 만들어야 함
- while 초기식 i=0 이거와 동일하게 초기식을 잡아주면 좋다.

In [ ]:
# tt.fare 100을 곱해서 원래 단위로 맞춘다.
# 변수를 만드는 법은 tt['새롭게 만들 변수명']
tt['fare_100'] = tt['fare']*100 # 해당 기존 값에 *100
print(tt['fare_100'])

0       725.00
1      7128.33
2       792.50
3      5310.00
4       805.00
        ...
886    1300.00
887    3000.00
888    2345.00
889    3000.00
890     775.00
Name: fare_100, Length: 891, dtype: float64

In [ ]:
# 파생변수 다시 만들기 fare_100/ fare = 100
# 파생변수를 이용해서 다시 파생변수를 만들자!
# 100이라는 값이 모두 적용되는 컬럼을 만들자
# 데이터프레임에서 적용하는 파생변수 만드는 식이 우리가 생각하는 문법처럼 그대로 적용하면 된다.
# tt['컬럼']/ tt['컬럼']
tt['100_values'] = tt['fare_100']/tt['fare']
print(tt['100_values'])

0      100.0
1      100.0
2      100.0
3      100.0
4      100.0
       ...
886    100.0
887    100.0
888    100.0
889    100.0
890    100.0
Name: 100_values, Length: 891, dtype: float64

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_100,100_values
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,725.00,100.0
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,7128.33,100.0
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,792.50,100.0
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,5310.00,100.0
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,805.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,1300.00,100.0
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,3000.00,100.0
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,2345.00,100.0
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,3000.00,100.0
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,775.00,100.0

In [ ]:
tt['100_values'].sum() == 89100

False

In [ ]:
tt['100_values'].sum()

87600.0

## 기존에 배운 Python 문법을 이용해서 for , if 문으로 다양한 파생변수를 만들어 보자!

- for , if 다양하게 파생변수 만들어 보자!
-  pclass 별로 1,2,3 등급 , survived 확률을 만들어보자!

In [ ]:
len(tt['pclass']==3)

891

In [ ]:
len(tt.query('pclass==1'))

216

In [ ]:
tt[['pclass','survived']]

     pclass  survived
0         3         0
1         1         1
2         3         1
3         1         1
4         3         0
..      ...       ...
886       2         0
887       1         1
888       3         0
889       1         1
890       3         0

[891 rows x 2 columns]

In [ ]:
#파생변수 컬럼을 만들어야 한다.
tt['pclass_prob'] =0

for i in range(len(tt)):
    if tt.loc[i]['pclass'] == 3: # 3번 클래스로 조건 찾기
        tt['pclass_prob'].loc[i]= tt.loc[i]['survived'].sum()/491 # 3번 클래스의 생존확률
    elif tt.loc[i]['pclass'] ==2: # 2번 클래스의 조건 찾기
        tt['pclass_prob'].loc[i] = tt.loc[i]['survived'].sum()/184 # 2번 클래스의 생존확률
    elif tt.loc[i]['pclass'] ==1: # 1번 클래스의 조건 찾기
        tt['pclass_prob'].loc[i] = tt.loc[i]['survived'].sum()/216 # 1번의 클래스의 생존확률

<ipython-input-35-ca0a9a1ff978>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['pclass_prob'].loc[i]= tt.loc[i]['survived'].sum()/491 # 3번 클래스의 생존확률
<ipython-input-35-ca0a9a1ff978>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['pclass_prob'].loc[i] = tt.loc[i]['survived'].sum()/216 # 1번의 클래스의 생존확률
<ipython-input-35-ca0a9a1ff978>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tt['pclass_prob'].loc[i] = tt.loc[i]['survived'].sum()/184 # 2번 클래스의 생존확률

In [ ]:
tt[['survived','pclass','pclass_prob']]

     survived  pclass  pclass_prob
0           0       3     0.000000
1           1       1     0.004630
2           1       3     0.002037
3           1       1     0.004630
4           0       3     0.000000
..        ...     ...          ...
886         0       2     0.000000
887         1       1     0.004630
888         0       3     0.000000
889         1       1     0.004630
890         0       3     0.000000

[891 rows x 3 columns]

In [ ]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_100,100_values,pclass_prob
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,725.00,100.0,0.000000
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,7128.33,100.0,0.004630
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,792.50,100.0,0.002037
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,5310.00,100.0,0.004630
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,805.00,100.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,1300.00,100.0,0.000000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,3000.00,100.0,0.004630
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,2345.00,100.0,0.000000
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,3000.00,100.0,0.004630
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,775.00,100.0,0.000000

## crosstab을 이용해서 확률 간단하게 구하기!
- pd.crosstab(인덱스, 계산할 컬럼)

In [ ]:
import pandas as pd

pd.crosstab(tt['sex'], tt['survived'])

survived    0    1
sex
female     81  233
male      468  109

In [ ]:
# 2개 이상인 경우는 index, 컬럼을 지정해서 crosstab을 만들 수 있다.
pd.crosstab(index = [tt['sex'],tt['pclass']],columns = tt['survived'])

survived         0   1
sex    pclass
female 1         3  91
       2         6  70
       3        72  72
male   1        77  45
       2        91  17
       3       300  47

In [ ]:
# 전체 sum도 보면 좋다.
# 인자값에 넣기만 하면 된다.
# 인자 값은 margins , 확률은 normailize  True, False

# 2개 이상인 경우는 index, 컬럼을 지정해서 crosstab을 만들 수 있다.
# 크로스탭으로 간단하게 다양한 컬럼들간의 관계, 확률표도 만들 수 있다.
pd.crosstab(index = [tt['sex'],tt['pclass']],columns = tt['survived'], margins = True, normalize=True)

survived              0         1       All
sex    pclass
female 1       0.003367  0.102132  0.105499
       2       0.006734  0.078563  0.085297
       3       0.080808  0.080808  0.161616
male   1       0.086420  0.050505  0.136925
       2       0.102132  0.019080  0.121212
       3       0.336700  0.052750  0.389450
All            0.616162  0.383838  1.000000

###  assign() 파생변수 만들기
- assign(파생변수명 = 요구조건등을 적는 것)

- numpy에서 제공하는 where 함수를 이용해서 파생변수를 만들 것

In [ ]:
import numpy as np

In [ ]:
tt.assign(age_old= np.where(tt['age']>30, 'old','young')) # na값들은 그외로 처리된다.

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,fare_100,100_values,pclass_prob,age_old
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,725.00,100.0,0.000000,young
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,7128.33,100.0,0.004630,old
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,792.50,100.0,0.002037,young
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,5310.00,100.0,0.004630,old
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,805.00,100.0,0.000000,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,1300.00,100.0,0.000000,young
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,3000.00,100.0,0.004630,young
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,2345.00,100.0,0.000000,young
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,3000.00,100.0,0.004630,young
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,775.00,100.0,0.000000,old

In [ ]:
np.where(tt['age']>0) # 안의 조건에 들어간 조건들의 인덱스를 반환한다.

(array([  0,   1,   2,   3,   4,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  18,  20,  21,  22,  23,  24,  25,  27,  30,  33,
         34,  35,  37,  38,  39,  40,  41,  43,  44,  49,  50,  51,  52,
         53,  54,  56,  57,  58,  59,  60,  61,  62,  63,  66,  67,  68,
         69,  70,  71,  72,  73,  74,  75,  78,  79,  80,  81,  83,  84,
         85,  86,  88,  89,  90,  91,  92,  93,  94,  96,  97,  98,  99,
        100, 102, 103, 104, 105, 106, 108, 110, 111, 112, 113, 114, 115,
        116, 117, 118, 119, 120, 122, 123, 124, 125, 127, 129, 130, 131,
        132, 133, 134, 135, 136, 137, 138, 139, 141, 142, 143, 144, 145,
        146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 160, 161,
        162, 163, 164, 165, 167, 169, 170, 171, 172, 173, 174, 175, 177,
        178, 179, 182, 183, 184, 187, 188, 189, 190, 191, 192, 193, 194,
        195, 197, 199, 200, 202, 203, 204, 205, 206, 207, 208, 209, 210,
        211, 212, 213, 215, 216, 217, 218, 219, 220, 221, 222, 224, 225,
        226, 227, 228, 230, 231, 232, 233, 234, 236, 237, 238, 239, 242,
        243, 244, 245, 246, 247, 248, 249, 251, 252, 253, 254, 255, 257,
        258, 259, 261, 262, 263, 265, 266, 267, 268, 269, 271, 272, 273,
        275, 276, 278, 279, 280, 281, 282, 283, 285, 286, 287, 288, 289,
        290, 291, 292, 293, 294, 296, 297, 299, 302, 305, 307, 308, 309,
        310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322,
        323, 325, 326, 327, 328, 329, 331, 332, 333, 336, 337, 338, 339,
        340, 341, 342, 343, 344, 345, 346, 348, 349, 350, 352, 353, 355,
        356, 357, 360, 361, 362, 363, 365, 366, 369, 370, 371, 372, 373,
        374, 376, 377, 378, 379, 380, 381, 382, 383, 385, 386, 387, 389,
        390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
        403, 404, 405, 406, 407, 408, 412, 414, 416, 417, 418, 419, 421,
        422, 423, 424, 426, 427, 429, 430, 432, 433, 434, 435, 436, 437,
        438, 439, 440, 441, 442, 443, 445, 446, 447, 448, 449, 450, 452,
        453, 455, 456, 458, 460, 461, 462, 463, 465, 467, 469, 471, 472,
        473, 474, 476, 477, 478, 479, 480, 482, 483, 484, 486, 487, 488,
        489, 491, 492, 493, 494, 496, 498, 499, 500, 501, 503, 504, 505,
        506, 508, 509, 510, 512, 513, 514, 515, 516, 518, 519, 520, 521,
        523, 525, 526, 528, 529, 530, 532, 534, 535, 536, 537, 539, 540,
        541, 542, 543, 544, 545, 546, 548, 549, 550, 551, 553, 554, 555,
        556, 558, 559, 561, 562, 565, 566, 567, 569, 570, 571, 572, 574,
        575, 576, 577, 579, 580, 581, 582, 583, 585, 586, 587, 588, 590,
        591, 592, 594, 595, 597, 599, 600, 603, 604, 605, 606, 607, 608,
        609, 610, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
        625, 626, 627, 628, 630, 631, 632, 634, 635, 636, 637, 638, 640,
        641, 642, 644, 645, 646, 647, 649, 651, 652, 654, 655, 657, 658,
        659, 660, 661, 662, 663, 664, 665, 666, 668, 670, 671, 672, 673,
        675, 676, 677, 678, 679, 681, 682, 683, 684, 685, 686, 687, 688,
        689, 690, 691, 693, 694, 695, 696, 698, 699, 700, 701, 702, 703,
        704, 705, 706, 707, 708, 710, 712, 713, 714, 715, 716, 717, 719,
        720, 721, 722, 723, 724, 725, 726, 728, 729, 730, 731, 733, 734,
        735, 736, 737, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750,
        751, 752, 753, 754, 755, 756, 757, 758, 759, 761, 762, 763, 764,
        765, 767, 769, 770, 771, 772, 774, 775, 777, 779, 780, 781, 782,
        784, 785, 786, 787, 788, 789, 791, 794, 795, 796, 797, 798, 799,
        800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812,
        813, 814, 816, 817, 818, 819, 820, 821, 822, 823, 824, 827, 829,
        830, 831, 833, 834, 835, 836, 838, 840, 841, 842, 843, 844, 845,
        847, 848, 850, 851, 852, 853, 854, 855, 856, 857, 858, 860, 861,
        862, 864, 865, 866, 867, 869, 870, 871, 872, 873, 874, 875, 876,
        877, 879, 880, 881, 882, 883, 884, 885, 886, 887, 889, 890]),)