<a href="https://colab.research.google.com/github/swflora/B.D.A/blob/main/240309_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%9E%85%EB%AC%B8_%ED%86%B5%EA%B3%84_pandas%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# seaborn 데이터 불러오기

import seaborn as sns
tt = sns.load_dataset('titanic')

In [3]:
tt

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

pandas 기초 문법
- pandas는 dataframe, series 형태로 이루어져있다.

In [4]:
# 판다스 패키지 불러오기
import pandas as pd

type(tt)

pandas.core.frame.DataFrame

In [5]:
type(tt.age)

pandas.core.series.Series

In [6]:
# 행과 열을 추출할 수 있다.
print(tt.shape)
print(tt.shape[0])
print(tt.shape[1])

(891, 15)
891
15

In [7]:
# 컬럼 추출 가능
print(tt.columns)
print('')

tt_col = list(tt.columns)
print(tt_col)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town', 'alive', 'alone']

In [8]:
# 기본적인 데이터 타입과 Nan, Null값 확인 가능하다.
tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [9]:
# 데이터들의 자료값 확인
tt.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [10]:
# 데이터의 기초 통계치
# 평균, 분산, 카운트, 사분위수 확인 가능
tt.describe(include = 'all')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
count,891.000000,891.000000,891,714.000000,891.000000,891.000000,891.000000,889,891,891,891,203,889,891,891
unique,NaN,NaN,2,NaN,NaN,NaN,NaN,3,3,3,2,7,3,2,2
top,NaN,NaN,male,NaN,NaN,NaN,NaN,S,Third,man,True,C,Southampton,no,True
freq,NaN,NaN,577,NaN,NaN,NaN,NaN,644,491,537,537,59,644,549,537
mean,0.383838,2.308642,NaN,29.699118,0.523008,0.381594,32.204208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.486592,0.836071,NaN,14.526497,1.102743,0.806057,49.693429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,NaN,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,2.000000,NaN,20.125000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,3.000000,NaN,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.000000,3.000000,NaN,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,3.000000,NaN,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 데이터를 추출하는 방법
tt.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [12]:
tt.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [13]:
tt[['age', 'survived']]

      age  survived
0    22.0         0
1    38.0         1
2    26.0         1
3    35.0         1
4    35.0         0
..    ...       ...
886  27.0         0
887  19.0         1
888   NaN         0
889  26.0         1
890  32.0         0

[891 rows x 2 columns]

In [14]:
# loc를 통해 끝값을 가고싶다
num_row = tt.shape[0]

# 끝값 인덱스 변수화
last_index = num_row-1
print(tt.loc[last_index])
print('')
print(tt.iloc[last_index])

survived                0
pclass                  3
sex                  male
age                  32.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

survived                0
pclass                  3
sex                  male
age                  32.0
sibsp                   0
parch                   0
fare                 7.75
embarked                Q
class               Third
who                   man
adult_male           True
deck                  NaN
embark_town    Queenstown
alive                  no
alone                True
Name: 890, dtype: object

In [15]:
# 특정값을 변수에 넣어 인덱스로 추출
mid_index = 543

print(tt.loc[mid_index])
print('')
print(tt.iloc[mid_index])

survived                 1
pclass                   2
sex                   male
age                   32.0
sibsp                    1
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 543, dtype: object

survived                 1
pclass                   2
sex                   male
age                   32.0
sibsp                    1
parch                    0
fare                  26.0
embarked                 S
class               Second
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                  yes
alone                False
Name: 543, dtype: object

In [16]:
tt.loc[::]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [17]:
tt.loc[:100:4]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
12,0,3,male,20.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False
20,0,2,male,35.0,0,0,26.0000,S,Second,man,True,NaN,Southampton,no,True
24,0,3,female,8.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
32,1,3,female,NaN,0,0,7.7500,Q,Third,woman,False,NaN,Queenstown,yes,True
36,1,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,yes,True
40,0,3,female,40.0,1,0,9.4750,S,Third,woman,False,NaN,Southampton,no,False
44,1,3,female,19.0,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
48,0,3,male,NaN,2,0,21.6792,C,Third,man,True,NaN,Cherbourg,no,False
52,1,1,female,49.0,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False
56,1,2,female,21.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
60,0,3,male,22.0,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
64,0,1,male,NaN,0,0,27.7208,C,First,man,True,NaN,Cherbourg,no,True
68,1,3,female,17.0,4,2,7.9250,S,Third,woman,False,NaN,Southampton,yes,False
72,0,2,male,21.0,0,0,73.5000,S,Second,man,True,NaN,Southampton,no,True
76,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
80,0,3,male,22.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True
84,1,2,female,17.0,0,0,10.5000,S,Second,woman,False,NaN,Southampton,yes,True
88,1,1,female,23.0,3,2,263.0000,S,First,woman,False,C,Southampton,yes,False
92,0,1,male,46.0,1,0,61.1750,S,First,man,True,E,Southampton,no,False
96,0,1,male,71.0,0,0,34.6542,C,First,man,True,A,Cherbourg,no,True
100,0,3,female,28.0,0,0,7.8958,S,Third,woman,False,NaN,Southampton,no,True

In [18]:
# Python 디폴트 행과 열 기준 적용, tt.loc[행, 열]
# 데이터를 추출할 때 행과 열 기준으로 조정해서 내가 원하는 값을 추출해야 한다.

tt.loc[:,['age']]

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [19]:
tt.iloc[::,['age']] # iloc 인덱스 열기준일 때 숫자로 넣어야 한다!

IndexError: .iloc requires numeric indexers, got ['age']

In [ ]:
tt.loc[::,['age','fare']]

In [ ]:
tt.iloc[::,[2,3]] # iloc 인덱스 열기준일 때 숫자로 넣어야 한다!

In [ ]:
tt.iloc[::,[2,3,-1]]

In [ ]:
num_3=list(range(0,100,3))

tt.loc[num_3]['embark_town'] # 인덱스로 잡고, 컬럼으로 잡았다!

In [ ]:
# 그 반대로 하면? # 컬럼 잡고-> 인덱스 잡으면?
tt['embark_town'].loc[num_3]

In [ ]:
tt[['embark_town','fare']].loc[num_3]['fare']

In [ ]:
tt[['embark_town','fare']].loc[num_3]['fare'].loc[54]

In [ ]:
tt[['embark_town','fare']].loc[num_3]['fare'].loc[2:20]

In [ ]:
len(tt[['embark_town','fare']]['fare'])

# 평균 25세 이상의 여성의 생존율, 남성의 생존율 크로스탭으로 만들어서 새로운 변수로 하나 만들고 변수를 더미화만들어서 0,1 이진으로 나눠서 태깅해라!

In [53]:
# 25세 이상의 여성과 남성을 필터링하여 크로스탭으로 만든다.
cross_tab_female = pd.crosstab((tt['sex'] == 'female') & (tt['age'] >= 25.0), tt['alive'])
cross_tab_male = pd.crosstab((tt['sex'] == 'male') & (tt['age'] >= 25.0), tt['alive'])

# 생존율 계산
female_survival_rate = cross_tab_female.loc[True,'yes']/cross_tab_female.loc[True].sum()
male_survival_rate = cross_tab_male.loc[True,'yes']/cross_tab_male.loc[True].sum()

# 새로운 변수 생성 및 이진화
tt['survival_tag'] = (tt['sex'] == 'female') & (tt['age'] >= 25)
tt['survival_tag'] = tt['survival_tag'].astype(int)

# 결과 출력
print("25세 이상의 여성의 생존율:", female_survival_rate)
print("25세 이상의 남성의 생존율:", male_survival_rate)
print(tt)

25세 이상의 여성의 생존율: 0.7777777777777778
25세 이상의 남성의 생존율: 0.2054794520547945
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  survival_tag
0      man        True  NaN  Southampton    no  False             0
1    woman       False    C    Cherbourg   yes  False             1
2    woman       False  NaN  Southampton   yes   True             1
3    woman       False    C  Southampton   yes  False             1
4      man        True  NaN  Southampton    no   True             0
..     ...         ...  ...          ...   ...    ...           ...
886    man        True  NaN  Southampton    no   True             0
887  woman       False    B  Southampton   yes   True             0
888  woman       False  NaN  Southampton    no  False             0
889    man        True    C    Cherbourg   yes   True             0
890    man        True  NaN   Queenstown    no   True             0

[891 rows x 16 columns]

#32세보다 낮은 여성 중 선박이 20달러 이하로 구매한 승객의 생존율은 얼마인가?

In [65]:
female = tt[(tt['sex'] == 'female') & (tt['age'] < 32.0)]
cus = female[female['fare'] <= 20.0]

cus_survival_rate = ((cus['alive'] == 'yes').sum() / cus.shape[0])
print(cus_survival_rate)

0.6588235294117647